node_modules
node_modules/
/node_modules/
**/node_modules/*
**/DIST/*
DIST/

node_modules/*
build/*
BUILD/*
site/build/*
DIST/*
site/BUILD/*

bin/*
bin/
**/bin/*

**firebird-monitor-linux
*.exe

DIST/src/*
DIST/src/web/*
